# これはGitに追跡させないファイル/ディレクトリを指定するためのファイルです。
# 以下はGitに追跡させないようにするファイルの例です。
#
# 1. 機密情報を含むファイル
# 2. ローカルでのみ利用するファイル
# 3. 一時的なファイル
# 4. 機械的に生成されるファイル(lockファイルなどは除く)
# 
# 以下は.gitignoreの書き方の例です。
#
# 特定のファイルを指定する場合
#
# secret.txt
#
# 特定のディレクトリを指定する場合
#
# dir/
#
# globパターンを使ってファイルを指定できます
#
# *.log
# dir/*.log
